:root {
    --black: rgb(21, 21, 22);
    --cian: rgb(0, 110, 165);
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: serif;
    background: var(--black) url(https://cdn.discordapp.com/attachments/910598384719634466/1021087934121787454/1663512411383.png) no-repeat;
    background-position-y: 80vh;
    background-position-x: 20%;
    background-size: 80px;
    color: white;
}

#conteudo {
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    background: url(https://cdn.discordapp.com/attachments/910598384719634466/1021087933865918524/1663512423473.png) repeat-y;
    background-size: 81.5px;
    background-position-x: 20%;
}

#conteudo div {
    width: 100vh;
}

.centralize {
    position: relative;
    left: 25%;
    top: 40%;
    width: 40%;
}

h1,
h5,
p {
    margin: 1rem 0;
    animation: aparicao 4s ease both alternate;
}

@keyframes aparicao {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1.duble-width {
    font-size: 4rem;
}

h5.duble-width {
    font-size: 1rem;
}

.list-margin {
    margin: 0.1rem 0;
}

.cian-color {
    color: var(--cian);
}

#contents {
    height: 100vh;
}

#contents #contents-projetos,
#contents #contents-plugins,
#contents #contents-sites {
    height: 100vh;
    background: var(--black) url(https://cdn.discordapp.com/attachments/910598384719634466/1021087934121787454/1663512411383.png) repeat-y;
    background-position-x: 20%;
    background-size: 80px;
    margin-top: -20px;
}

@keyframes robin {
    from {
        left: -200px;
    }
    to {
        left: 100%;
        transform: rotate(360deg);
    }
}

#contents-plugins img {
    position: relative;
    left: 0;
    top: 45%;
    width: 10%;
    animation: robin 4s linear 0s infinite;
    z-index: 1;
}

.a-plugins {
    display: block;
    margin: 5px 0;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.a-plugins:hover {
    color: var(--cian);
}

footer {
    font-family: sans-serif;
    margin-top: 50px;
    padding: 20px;
    font-weight: 900;
    color: rgb(74, 81, 88);
    background: rgb(21, 21, 22);
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 30px;
    margin: 10px;
}

@media (max-width: 650px) {

    #conteudo {
        background-position-y: -150px;
    }

    #conteudo {
        height: 100vh;
    }

    .centralize {
        position: relative;
        left: 30%;
        top: 30%;
        width: 80%;
        max-width: 200px;
    }

    h1,
    h5,
    p {
        margin: 0.5rem 0;
    }

    h1.duble-width {
        font-size: 3rem;
    }

    h5.duble-width {
        font-size: 1rem;
    }

    footer {
        display: block;
        text-align: center;
        position: relative;
        bottom: 0;
        margin: 0;
    }

    #contents-plugins img {
        position: absolute;
        left: 0;
        top: 150%;
        width: 25%;
        animation: robin 5s linear 2s infinite;
        z-index: 1;
    }
}