:root {
    --cinza: rgb(26, 26, 26);
    --blue-cian: rgb(0, 116, 175);
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--cinza);
    font-family: sans-serif;
}

.custom-cian-color {
    color: var(--blue-cian);
}

.duble-font-style {
    font-size: 1.5rem;
}

#container #top #top-title {
    width: 45%;
    margin-left: 5%;
    margin-top: 3%;
    color: white;
}

#container #top #subtitle-top {
    width: 45%;
    margin-left: 5%;
    margin-top: 50px;
    color: white;
}

@keyframes DigitalCursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#subtitle-top::after {
    content: "|";
    margin-left: 5px;
    animation: DigitalCursor 0.5s infinite;
    color: var(--blue-cian);
}

#container #top #github-top-button {
    background: var(--blue-cian);
    padding: 20px 50px;
    display: block;
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 50px;
    transition: 0.5s;
}

#container #top #github-top-button:hover {
    width: 110px;
    border: 4px solid white;
}

#container #quemsou {
    background: black;
    margin: 5% 0;
    color: white;
    padding: 20px;
    display: flex;
    padding: 10%;
    justify-content: space-between;
    align-items: center;
}

#container #quemsou #personagem {
    width: 100%;
    margin-left: 10%;
    transition: 1s;
}

#container #quemsou #personagem:hover {
    width: 105%;
}

#container #quemsou h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    margin-left: 20%;
}

#container #quemsou #sobremim-text {
    font-size: 1.5rem;
    width: 80%;
    color: rgb(200, 200, 200);
    margin-left: 20%;
}

#esperienciat {
    color: white;
    margin-bottom: 5%;
    margin-left: 10%;
    text-align: left;
}

#esperienciat::after {
    content: " .";
    color: var(--blue-cian);
}

#container #esperiencia {
    display: flex;
}

#container #esperiencia #projetos {
    margin-left: 10%;
    margin-bottom: 5%;
}

#container #esperiencia #projetos ul {
    list-style: none;
}

#container #esperiencia #projetos ul li a {
    color: white;
    text-decoration: none;
    padding: 20px 80px 20px 10px;
    display: block;
    background: rgb(16, 16, 16);
    font-weight: 600;
    cursor: pointer;
}

#container #esperiencia #projetos ul li a.selectedProject {
    border-left: 3px solid var(--blue-cian);
}

#container #esperiencia #projeto-detalhe {
    height: 173px;
    margin-left: 5%;
    color: white;
    padding: 0 50px;
}

#container #esperiencia #projeto-detalhe #title-projeto {
    margin-bottom: 10px;
    font-weight: 2.5rem;
    word-break: break-all;
}


#container #esperiencia #projeto-detalhe #description-projeto {
    color: rgb(204, 204, 204);
    width: 60%;
}

@media (max-width: 800px) {
    #container #quemsou {
        text-align: center;
    }

    #container #quemsou #personagem {
        display: none;
    }
    
    #container #quemsou h1 {
        font-size: 3rem;
        margin: 0;
        margin-bottom: 10px;
    }
    
    #container #quemsou #sobremim-text {
        font-size: 1.5rem;
        width: 100%;
        margin: 0;
        color: rgb(200, 200, 200);
        word-break: break-all;
    }

    #esperienciat {
        margin-left: 0;
        text-align: center;
    }
    
    #esperienciat::after {
        content: ".";
        color: var(--blue-cian);
    }

    #container #esperiencia {
        display: block;
        text-align: center;
    }

    #container #esperiencia #projetos {
        margin: 0 auto 5% auto;
        display: inline-block;
    }

    #container #esperiencia #projetos ul li a {
        width: 200px;
        align-items: center;
        border-left: 3px solid var(--cinza);
        padding: 20px 80px;
    }

    #container #esperiencia #projeto-detalhe {
        height: auto;
        margin: 0;
        color: white;
        padding: 0 50px;
        text-align: center;
        margin-bottom: 5%;
    }
    
    #container #esperiencia #projeto-detalhe #title-projeto {
        margin-bottom: 10px;
        font-weight: 2.5rem;
        word-break: break-all;
    }
    
    #container #esperiencia #projeto-detalhe #description-projeto {
        color: rgb(204, 204, 204);
        width: auto;
        margin: 0 5%;
    }
}

@media (max-width: 650px) {
    #container #top {
        text-align: center;
    }

    #container #top #top-title {
        width: 80%;
    }
    
    #container #top #subtitle-top {
        width: 80%;
    }

    #container #top #github-top-button {
        margin: 0 auto;
        margin-top: 50px;
    }
}