* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Configurações básicas */

:root {
  --c1-color: #e9e9e9;
  --ciano7-color: #337b8b;
  --c9-color: #414141;
  --c10-color: #242424;
  --c11-color: #0e0e0e;
  --c2-color: #e6e6e6;
  --c7-color: #6a6a6a;
  --c4-color: #c6c6c6;
  --c5-color: #a6a6a6;
  --c8-color: #4f4f4f;
}

.font-sans-pro {
  font-family: Source Sans Pro, sans-serif;
}

.font-sans-code {
  font-family: Source Code Pro, monospace;
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

.contrast-cian {
  color: var(--ciano7-color);
}

html {
  scroll-behavior: smooth;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 5% 5%;
}

header .navbar ul {
  display: flex;
  position: relative;
}

header .navbar ul a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--c10-color);
  display: block;
}

header .navbar ul a:hover {
  color: var(--ciano7-color);
  transition: 0.5s;
}

header .navbar ul a::after {
  content: "";
  display: block;
  background: var(--ciano7-color);
  height: 2px;
  width: 0;
  margin: 0 auto;
  transition: 0.5s;
}

header .navbar ul a:hover::after {
  width: 100%;
}

header .navbar label {
  display: none;
}

section {
  margin-bottom: 120px;
}

/* apresentacao */

section.apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

section.apresentacao img {
  width: 70%;
  max-width: 400px;
  display: block;
  margin-left: 10%;
}

section.apresentacao h1 {
  font-size: 4rem;
  width: 70%;
}

section.apresentacao h1::before {
  content: "";
  background: var(--ciano7-color);
  width: 7px;
  height: 47px;
  display: block;
  position: relative;
  top: 60px;
  left: -10px;
}

section.apresentacao p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  width: 70%;
  color: var(--c9-color);
  margin-top: 30px;
}

/* experiencia */

section.experiencia {
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
}

section.experiencia h1 {
  font-size: 10em;
  display: block;
  word-break: break-all;
  color: var(--c2-color);
}

section.experiencia .experience-item {
  background: var(--c2-color);
  padding: 0 20px;
  display: flex;
  max-width: 300px;
  margin: 20px 0;
}

section.experiencia .experience-item img {
  width: 100px;
}

section.experiencia .experience-item div {
  margin-right: 10%;
}

section.experiencia .experience-item h3,
section.experiencia .experience-item h2 {
  margin: 20px 0;
}

section.experiencia .experience-item h3 {
  color: var(--c7-color);
  font-size: 1rem;
}

section.experiencia .experience-item p {
  color: var(--c10-color);
  font-size: 1.3rem;
}

section.experiencia .experience-item h2 {
  color: var(--c7-color);
  font-weight: normal;
  font-size: 1rem;
}

/* Certificados */

section.certificados {
  background: var(--c11-color);
  padding: 120px 5%;
}

section.certificados h1 {
  color: var(--c4-color);
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 52px;
}

section.certificados .certificates {
  display: flex;
  justify-content: space-between;
}

section.certificados .certificates .all-certificados .certificate-item p.date {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--c5-color);
  margin-bottom: 10px;
}

section.certificados .certificates .all-certificados .certificate-item {
  max-width: 450px;
  display: flex;
  align-items: center;
  margin: 50px 0;
}

section.certificados .certificates .all-certificados .certificate-item::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background: linear-gradient(90deg, #14b4d9 0%, #14859e 100%);
  border-radius: 5px 5px 0px 0px;
  transform: rotate(-90deg);
  position: relative;
  left: 13px;
}

section.certificados
  .certificates
  .all-certificados
  .certificate-item
  div.description {
  background: var(--c10-color);
  padding: 40px;
  border-radius: 5px;
}

section.certificados
  .certificates
  .all-certificados
  .certificate-item
  div.description
  h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--c1-color);
  margin-bottom: 20px;
}

section.certificados
  .certificates
  .all-certificados
  .certificate-item
  div.description
  p {
  color: var(--c4-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

section.certificados .certificado-selecionado {
  margin-right: 15%;
}

section.certificados .certificado-selecionado h1 {
  font-style: normal;
  letter-spacing: 0.01em;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: var(--c1-color);
}

section.certificados .certificado-selecionado img {
  max-width: 350px;
  max-height: 494px;
  width: auto;
  height: auto;
}

/* Contato */
section.contato {
  padding: 0 5%;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

section.contato h1 {
  color: var(--c8-color);
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 52px;
}

section.contato .input-item label {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--c8-color);
}

section.contato .input-item input {
  width: 445px;
  max-width: 445px;
  height: 53px;
  background: var(--c1-color);
  border: 1px solid var(--c2-color);
  outline-color: var(--c10-color);
  padding: 0 10px;
  margin-bottom: 40px;
}

section.contato .input-item textarea {
  height: 183px;
  width: 445px;
  max-width: 445px;
  background: var(--c1-color);
  border: 1px solid var(--c2-color);
  outline-color: var(--c10-color);
  padding: 10px;
  margin-bottom: 40px;
}

section.contato input.submit {
  background: linear-gradient(180deg, #11b6e0 0%, #1c7eb6 100%);
  border-radius: 5px;
  padding: 15px 35px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-bottom: 80px;
}

section.contato .sociais {
  text-align: center;
  margin-right: 10%;
}

section.contato .sociais h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: var(--c11-color);
}

section.contato .sociais p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--c9-color);
}

section.contato .redessociais {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

section.contato .redessociais a {
  margin: 20px;
  width: 40px;
  height: 40px;
  display: block;
}

/* Footer */
hr.espacamento {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 80px;
}

footer p {
  font-family: "Source Code Pro";
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: var(--c8-color);
  margin-bottom: 5%;
}

.error-item {
  background: rgb(255, 150, 150);
  border: 1.5px solid rgb(255, 92, 92);
  color: rgb(41, 4, 4);
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
