:root {
    --cinza: rgb(26, 26, 26);
    --blue-cian: rgb(0, 116, 175);
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--cinza);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--blue-cian);
  }

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--cinza);
    box-shadow: 5px 0 10px black;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    z-index: 100;
}

header.transparent {
    background: rgba(26, 26, 26, 0.428);
}

header.activet {
    background: var(--cinza);
}

header img {
    width: 128px;
    height: 34px;
    padding-left: 2%;
}

header ul#navbar {
    display: flex;
    list-style: none;
    text-align: center;
    padding-right: 2%;
}

header label {
    display: none;
}

header ul#navbar li {
    padding: 5px 20px;
    line-height: 20px;
    font-size: 20px;
}

header ul#navbar li a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

header ul#navbar li a:hover {
    color: var(--blue-cian);
    font-size: 21px;
    border-bottom: 1px solid white;
}

@media (max-width: 600px) {
    header label {
        display: block;
        cursor: pointer;
        width: 20px;
        border-top: 2px solid white;
        margin-right: 10px;
    }

    header label::before {
        content: " ";
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        margin-top: 5px;
        margin-bottom: 2px;
        transition: 0.5s;
    }

    header label::after {
        content: " ";
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        margin-top: 5px;
        margin-bottom: 2px;
        transition: 0.5s;
    }

    header ul#navbar {
        visibility: hidden;
        display: block;
        height: 0;
        list-style: none;
        text-align: center;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 50px;
        width: 100%;
        background: var(--cinza);
        transition: 1s;
        overflow-y: hidden;
    }

    header ul#navbar li {
        padding: 15px 0;
    }

    header.activet label::before {
        transform: rotate(-130deg);
    }

    header.activet label::after {
        transform: rotate(130deg);
        position: relative;
        top: -7px;
    }

    header.activet label {
        border-top: none;
    }
}