.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.skill {
  background: var(--s-5);
  padding: 32px 60px;
  box-sizing: border-box;
  border-radius: 5px;
}

@media (max-width: 1050px) {
  .skills {
    grid-template-columns: 1fr;
  }

  .skill {
    background: var(--s-5);
    padding: 25.6px 48px;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

.skill h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--s-1);
  margin-bottom: 8px;
}

.skill p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375em;
  color: var(--s-1);
}
