@import url("styles/navbar.css");
@import url("styles/apresentacao.css");
@import url("styles/sobremim.css");
@import url("styles/oquesei.css");
@import url("styles/contato.css");
@import url("styles/projetos.css");
@import url("styles/footer.css");
@import url("styles/modules/button.css");
@import url("styles/modules/letterCartoon.css");

body {
  --primary-color-1: #fbfdfe;
  --primary-color-2: #edf6fb;
  --primary-color-3: #cfe8f6;
  --primary-color-4: #9ed5f4;
  --primary-color-5: #7cc2ea;
  --primary-color-6: #5babd8;
  --primary-color-7: #4b86cb;
  --primary-color-8: #3f79bc;
  --primary-color-9: #2963a8;
  --primary-color-10: #215b9f;
  --primary-color-11: #1c579c;
  --primary-color-12: #1c489c;
  --primary-color-13: #113885;
  --primary-color-14: #0b2e72;
  --primary-color-15: #062460;
  --primary-color-16: #02163e;
  --primary-color-17: #000816;

  --gradient-escuro: linear-gradient(
    180deg,
    #1c579c 0%,
    #0e4688 99.99%,
    rgba(217, 217, 217, 0) 100%
  );

  --gradient-claro: linear-gradient(180deg, #0e7af8 0%, #0450a8 99.99%);
}

body.black {
  --secundary-color-1: #f7f7f7;
  --secundary-color-2: #f0f0f0;
  --secundary-color-3: #e1e1e1;
  --secundary-color-4: #d8d8d8;
  --secundary-color-5: #c2c2c2;
  --secundary-color-6: #b1b1b1;
  --secundary-color-7: #a1a1a1;
  --secundary-color-8: #878787;
  --secundary-color-9: #757575;
  --secundary-color-10: #606060;
  --secundary-color-11: #4a4a4a;
  --secundary-color-12: #3d3d3d;
  --secundary-color-13: #2f2f2f;
  --secundary-color-14: #1c1c1c;
  --secundary-color-15: #0e0e0e;
  --secundary-color-16: #070707;
}

body.white {
  --secundary-color-16: #f7f7f7;
  --secundary-color-15: #f0f0f0;
  --secundary-color-14: #e1e1e1;
  --secundary-color-13: #d8d8d8;
  --secundary-color-12: #c2c2c2;
  --secundary-color-11: #b1b1b1;
  --secundary-color-10: #a1a1a1;
  --secundary-color-9: #878787;
  --secundary-color-8: #757575;
  --secundary-color-7: #606060;
  --secundary-color-6: #4a4a4a;
  --secundary-color-5: #3d3d3d;
  --secundary-color-4: #2f2f2f;
  --secundary-color-3: #1c1c1c;
  --secundary-color-2: #0e0e0e;
  --secundary-color-1: #070707;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: var(--secundary-color-15);
}

section {
  padding: 60px 5%;
  margin-top: 128px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anek Devanagari";
  letter-spacing: 0.01rem;
}

p,
span,
label {
  font-family: "IBM Plex Mono";
}

@media (max-width: 419px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 344px) {
  * {
    font-size: 12px;
  }
}

@media (max-width: 239px) {
  * {
    font-size: 8px;
  }
}

div[src] {
  background-size: cover !important;
}

.popup-item {
  position: fixed;
  background: red;
  z-index: 200;
  max-width: 250px;
  width: 90%;
  text-align: center;
  color: #ffcece;
  background: #9f0b0b;
  font-family: "Anek Devanagari";
  padding: 10px 20px;
  animation: initPopup 0.5s forwards;
  border-radius: 5px;
  border: 2px solid #1c1c1c;
}

@keyframes initPopup {
  0% {
    bottom: -70px;
    opacity: 0;
  }

  100% {
    bottom: 70px;
    opacity: 0.9;
  }
}
