.letterCartoon:hover {
  animation: cartoonAnimate 0.5s forwards;
  cursor: default;
}

@keyframes cartoonAnimate {
  0% {
    font-size: 3rem;
    color: var(--secundary-color-1);
  }

  40% {
    font-size: 4.5rem;
  }

  100% {
    font-size: 3.7rem;
    color: var(--primary-color-10);
  }
}
