body {
    background-color: rgb(39, 39, 39);
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0px;
    padding-right: 50px;
    padding-left: 10px;
    margin: 0px;
    display: flex;
}

.bartitle {
    color: #fff;
    font-size: 20px;
    padding-top: 17px;
}

.bartitle::first-letter {
    color: #1789e6;
    margin: 3px;
    font-weight: bold;
}

#logo {
    border-radius: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.titles {
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}

#hi {
    height: 20px;
    width: 20px;
    margin: 0px;
    padding-left: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

p {
    color: white;
    margin-left: 20px;
    margin: 0px;
}

.sobremim {
    display: flex;
    margin: 0px;
}

#sobremim-txt {
    margin-left: 0px;
}

hr {
    margin: 20px;
    padding: 0;
    border: 0.5px solid #fff;
}

.list {
    color: white;
}

.a-navbar {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.a-navbar:hover {
    color: rgba(255, 255, 255, 0.343);
}

.a-navbar:active {
    color: #1789e6;
}


#espaco {
    margin-left: auto;
}

footer {
    background-color: black;
    padding: 20px;
    margin: 0;
    margin-top: 100px;
    text-align: center;
}

#linguagens-txt {
    padding-left: 20px;
}