* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --b-1: #8ed9f5;
  --b-2: #53b6e0;
  --b-3: #2299cc;
  --b-4: #106087;
  --b-5: #031e30;

  --s-1: #d4d8d9;
  --s-2: #aaafb1;
  --s-3: #787c7d;
  --s-4: #656d70;
  --s-5: #3c4244;
  --s-6: #0c1012;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--b-3);
}

body {
  font-family: "Rubik", "Roboto", sans-serif;
  font-size: 16px;
  background: #fff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 10.588vw;
  padding-right: 10.588vw;
}

.coloContainer {
  background: var(--s-6);
  padding-top: 16.146vh;
  padding-bottom: 16.146vh;
  padding-left: 10.588vw;
  padding-right: 10.588vw;
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: var(--s-5);
  margin-bottom: 16px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.313rem;
  color: var(--s-1);
  margin-bottom: 40px;
}

@media (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
