@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.animation-left {
  transform: translate3d(-100px, 0px, 0px);
  opacity: 0;

  animation: animation-left 0.4s forwards;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #71d;
  border-radius: 4px;
}

@keyframes animation-left {
  to {
    transform: initial;
    opacity: initial;
  }
}

.animate-transition-function {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.animation-left {
  transform: translate3d(-100px, 0px, 0px);
  opacity: 0;

  animation: animation-left 0.4s forwards;
}
