.apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.apresentacao > div {
  grid-column: 1 / 4;
  grid-row: 1;
}

.apresentacao h3 {
  font-size: 2rem;
  color: var(--secundary-color-5);
}

.apresentacao h1 span {
  width: 90%;
  max-width: 590px;
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 3rem;
  line-height: 3.63rem;
  color: var(--secundary-color-1);
}

.apresentacao img {
  max-width: 300px;
  width: 100%;
  display: block;
  margin-left: auto;
  grid-column: -1;
  transition: 0.5s;
}
@media (max-width: 780px) {
  .apresentacao {
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  .apresentacao img {
    margin: 0 auto;
  }

  .apresentacao h3 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 16px;
  }

  .apresentacao h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .apresentacao a.button-style {
    margin: 0 auto;
    max-width: 300px;
    display: block;
    text-align: center;
    position: initial;
  }
}
