section.sobremim {
  background: var(--secundary-color-14);
}

.sobremim h1 {
  letter-spacing: 0.01em;
  font-size: 3rem;
  color: var(--secundary-color-1);
  text-align: center;
}

.sobremim h1::before {
  content: "";
  width: 55px;
  height: 30px;
  display: inline-block;
  margin-right: 12px;
  background: url(../../assets/decorator.svg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 603px) {
  .sobremim h1::before {
    display: block;
    margin: 0 auto;
  }
}

.sobremim p.sobremim {
  color: var(--secundary-color-2);
  text-align: center;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.container section.sobremim a {
  display: block;
  max-width: 170px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 8px;
}

.sobremim p.sobrecv {
  color: var(--secundary-color-7);
  text-align: center;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}
